{
    "extends": ["airbnb", "plugin:flowtype/recommended"],
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "flow-vars/define-flow-type": 0,
        "flow-vars/use-flow-type": 0,
        "import/no-extraneous-dependencies": 0,
        "eqeqeq": [2, "smart"],
        "semi": 2,
        "indent": "off",
        "no-tabs": "off",
        "arrow-body-style": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": [0, 5],
        "react/react-in-jsx-scope": "off",
        "react/jsx-indent-props": "off"
    }
}